<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" *ngIf="myVar">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Select Report Type</h4>
                        <p class="category">This section allows you to choose reports of your choice.</p>
                    </div>
                    <div class="card-content table-responsive" >
                     
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label" style="color: black;">Checklist Type</label>
                                            <!-- <input type="text" class="form-control" disabled> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group form-black label-floating is-empty">
                                           
                                          <select  [(ngModel)]="checklisttype" style="  padding: 5px 8px;
                                                                                        width: 100%;
                                                                                        box-shadow: none;
                                                                                        background: transparent;
                                                                                        background-image: none;
                                                                                        -webkit-appearance: none;">
                                        
                                              <option [ngValue]="1"> Runway Checklist </option>
                                              <option [ngValue]="2"> Taxiway Checklist </option>
                                              <option [ngValue]="3"> Apron Checklist </option>
                                         </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty" >
                                                  
                                                <button type="submit" style="margin-top:0px;height:35px;text-align:center" class="btn btn-danger" (click)="onChecklistType()">Submit</button>
                                                </div>
                                            </div>
                                </div>
                                
                                <div class="card-content table-responsive">
                                    
                                <button *ngFor="let item of runwaylist | paginate: { itemsPerPage: 5, currentPage: p };"  (click)="onSubmit(item.DATE,item.Inspection_Time)" style="background-color:white;width:100%;height:50px; text-align:left">
                              
                                    <b>Date: </b>&nbsp;&nbsp;
                                    {{ item.DATE  }} 
                                   <b>Time: </b> &nbsp;&nbsp;
                                    {{ item.Inspection_Time }}
                                    
                                    
                                </button>
                                <pagination-controls (pageChange)="p = $event" ></pagination-controls>
                           
                                
                            </div>
                           

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card card-plain" *ngIf="checklistreport">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Report Template</h4>
                        <p class="category">This section provides analytical view of airside reports</p>
                    </div>
                    
                    <div class="card-content table-responsive"  >
                                        
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:10%; font-weight:bold; text-align:center">ID</th>
                                    <th  style="width:25%;font-weight:bold; text-align:center">Observations</th>
                                    <th style="width:10%;font-weight:bold; text-align:center">Acceptability</th>
                                    <th style="width:15%;font-weight:bold; text-align:center">Nc Filed Ref No.</th>
                                    <th style="width:40%;font-weight:bold; text-align:center">Action Taken</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let user of checklistdetails; let i=index">
                                        <td style="width:10%; text-align:center">{{i+1}}</td>
                                    <td style="width:25%; text-align:center"> {{ user.Observations }}</td>
                                    <td style="width:10%; text-align:center" [ngSwitch]="user.Acceptability"> <p *ngSwitchCase="'+'" style=" background-color: rgb(59, 152, 79);">{{ user.Acceptability }}</p> 
                                        <p *ngSwitchCase="'-'" style=" background-color: rgb(241, 8, 8);">{{ user.Acceptability }}</p> 
                                        <p *ngSwitchCase="'0'" style=" background-color: rgb(207, 250, 53);">{{ user.Acceptability }}</p>
                                      </td>
                                    <td style="width:15%; text-align:center"> {{ user.NC_Filed_Ref_No }}</td>
                                    <td style="width:40%;text-align:center">{{user.Action_Taken}}</td>
                                    
                                </tr>
                               
                            </tbody>
                        </table>
                        <br/>
                        <br />
                        <div>
                            <span style="float:left; font-weight:bold;">Name of Safety Officier</span> <p style="float:left">&nbsp;&nbsp; &nbsp;&nbsp;{{ checklistdetails[0].Person_Name }}</p>
                        </div>
                        <br />
                        <br />
                        <div>
                           <span style="float:left; font-weight:bold;">Other Observations</span> 
                           <p style="float:left">&nbsp;&nbsp; &nbsp;&nbsp;{{ checklistdetails[0].Other_Observations }}</p>
                        </div>
                        <div>
                             <br>
                             <br>
                             <button type="submit" class="btn btn-danger pull-right" (click)="return()"> Cancel </button> 
                             <button type="submit" class="btn btn-danger pull-right" (click)="approveChecklist()"> Approve Checklist </button>
                             <button type="submit" class="btn btn-danger pull-right" (click)="EditChecklist()"> Edit Checklist </button> 
                        </div>
                    </div>
                </div>                  
            </div>

            <!-- Apron Checklist Report -->

            <div class="col-md-12">
                    <div class="card card-plain" *ngIf="edited">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Report Template</h4>
                            <p class="category">This section provides analytical view of airside reports</p>
                        </div>
                        <div class="card-content table-responsive"  >
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:10%; font-weight:bold; text-align:center">ID</th>
                                        <th  style="width:10%;font-weight:bold; text-align:center">Stand</th>
                                        <th style="width:20%;font-weight:bold; text-align:center">Surface Condition</th>
                                        <th style="width:10%;font-weight:bold; text-align:center">Markings</th>
                                        <th style="width:10%;font-weight:bold; text-align:center">Cleaning</th>
                                        <th style="width:20%;font-weight:bold; text-align:center">Serviceability</th>
                                        <th style="width:20%;font-weight:bold; text-align:center">Action Taken</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let view of checklistdetails; let i=index">
                                        <td style="width:10%; text-align:center"> {{ i+1 }} </td>
                                        <td style="width:10%; text-align:center"> {{ view.Stand }} </td>
                                        <td style="width:20%; text-align:center"> {{ view.Surface_Condition }} </td>
                                        <td style="width:10%; text-align:center"> {{ view.Markings }}</td>
                                        <td style="width:10%;text-align:center"> {{ view.Cleaning }} </td>
                                        <td style="width:20%;text-align:center"> {{ view.Serviceability }} </td>
                                        <td style="width:20%;text-align:center"> {{ view.ActionTaken }} </td>   
                                    </tr>                                   
                                </tbody>
                            </table>
                            <br />

                            <div>
                                <span style="float:left; font-weight:bold;">Name of Safety Officier</span> <p style="float:left">&nbsp;&nbsp; &nbsp;&nbsp;{{ checklistdetails[0].OfficierName }}</p>
                            </div>
                            
                            <br />
                            <br />
                            <div>
                               <span style="float:left; font-weight:bold;">Other Observations</span> <p style="float:left">&nbsp;&nbsp; &nbsp;&nbsp;{{ checklistdetails[0].Other_Observations }}</p>
                            </div>
                            <div>
                                 <!-- <br>    <button type="submit" class="btn btn-danger pull-right" (click)="EditChecklist()" >Edit</button> -->
                                 <button type="submit" class="btn btn-danger pull-right" (click)="return()"> Cancel </button> 
                                 <button type="submit" class="btn btn-danger pull-right" (click)="approveChecklist()"> Approve Checklist </button>
                                 <button type="submit" class="btn btn-danger pull-right" (click)="editApronChecklist()"> Edit Checklist </button>
                            </div>
                        </div>
                        </div>
                        
                </div>




            <!-- edit checklist report module -->
            

                   
       
        </div>
        <div class="card-content table-responsive" *ngIf="editchecklist">
                <form #myForm="ngForm">
                        <fieldset ngModelGroup="inputs" #inputs="ngModelGroup">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:10%; font-weight:bold; text-align:center">ID</th>
                            <th  style="width:25%;font-weight:bold; text-align:center">Observations</th>
                            <th style="width:10%;font-weight:bold; text-align:center">Acceptability</th>
                            <th style="width:15%;font-weight:bold; text-align:center">Nc Filed Ref No.</th>
                            <th style="width:40%;font-weight:bold; text-align:center">Action Taken</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of checklistdetails; let i=index">
                            <td style="width:10%; text-align:center">{{i+1}}</td>
                            <td style="width:25%; text-align:center"> {{ user.Observations }}</td>
                            <td style="width:10%; text-align:center">  
                                 <select name="{{'acceptability'+i}}"  [(ngModel)]="user.Acceptability">
                                    <option *ngFor="let runwaysurfacesigns of acceptabilitySigns"  [value]="runwaysurfacesigns">
                                      {{ runwaysurfacesigns }}
                                    </option>
                                  </select>
                            </td>
                            <td style="width:15%; text-align:center">   <input type="text" name="{{'ncfiled'+i}}" [(ngModel)]="user.NC_Filed_Ref_No"> </td>
                            <td style="width:40%;text-align:center"> <input type="text" name="{{'actiontaken'+i}}" [(ngModel)]="user.Action_Taken"> </td>
                            
                        </tr>
                       
                    </tbody>
                </table>
            </fieldset>
               
                <div>
                     <br>    <button type="submit" class="btn btn-danger pull-right" (click)="updatechecklist(myForm)" >Submit</button>
                     <button type="submit" class="btn btn-danger pull-right" (click)="return()" >Cancel</button>
                     </div>
                </form>

            
            </div>
            <div class="card-content table-responsive" *ngIf="editapronchecklist">
                <form #myForm="ngForm">
                <fieldset ngModelGroup="inputs" #inputs="ngModelGroup">
                <table id="aprontable" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:10%; font-weight:bold; text-align:center">ID</th>
                            <th  style="width:25%;font-weight:bold; text-align:center">Stand</th>
                            <th style="width:10%;font-weight:bold; text-align:center">Surface Condition</th>
                            <th style="width:15%;font-weight:bold; text-align:center">Markings</th>
                            <th style="width:40%;font-weight:bold; text-align:center">Cleaning</th>
                            <th style="width:40%;font-weight:bold; text-align:center">Serviceability</th>
                            <th style="width:40%;font-weight:bold; text-align:center">Action Taken</th>
                        </tr>
                    </thead>
                    <tbody id="apronbody">
                        <tr *ngFor="let view of checklistdetails; let i=index">
                            <td style="width:10%; text-align:center"> {{ i+1 }} </td>
                            <td style="width:25%; text-align:center"> 
                                <input type="text" name="{{ 'stand'+i  }}" [(ngModel)]="view.Stand"> 
                            </td>
                            <td style="width:10%; text-align:center"> 
                                <input type="text" name="{{ 'surfacecondition'+i }}" [(ngModel)]="view.Surface_Condition"> 
                            </td>
                            <td style="width:15%; text-align:center"> 
                                <input type="text" name="{{'markings'+i }}" [(ngModel)]="view.Markings"> 
                            </td>
                            <td style="width:40%; text-align:center"> 
                                <input type="text" name="{{'cleaning'+i }}" [(ngModel)]="view.Cleaning"> 
                            </td>
                            <td style="width:40%; text-align:center"> 
                                <input type="text" name="{{ 'serviceability'+i }}" [(ngModel)]="view.Serviceability"> 
                            </td>
                            <td style="width:40%; text-align:center"> 
                                <input type="text" name="{{ 'actiontaken'+i }}" [(ngModel)]="view.ActionTaken"> 
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </fieldset>
               
                <div>
                     <br>    <button type="submit" class="btn btn-danger pull-right" (click)="updateApronEditedChecklist(myForm)"> Submit </button>
                     </div>
                </form>

            
            </div>

            <app-dialog [(visible)]="showDialog">
                <h1>Data Saved Successfully!</h1>
                <button (click)="showDialog = !showDialog" class="btn">Exit</button>
            </app-dialog>
            <div *ngIf="loading" >
                    <div class="pokeball">
                      <div class="upper">
                        <div class="inner"></div>
                      </div>
                      <div class="middle"></div>
                      <div class="lower">
                        <div class="inner"></div>
                      </div>
                    </div>
                </div>
    </div>
</div>
